.contact{
    height: auto;
    background-color: #eeeeee;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-right: 80px;
}

label{
    font-size: 13px;
    color: #54545E
}
#logbox {
    padding: 10px;
    margin: 50px auto;
    width: 340px;
    background-color: #fff;
    -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
  }
  
  h1 {
    text-align: center;
    font-size: 175%;
    color: #757575;
    font-weight: 300;
  }
  
  h1, input {
    font-family: "Open Sans", Helvetica, sans-serif;
  }


.input {
    width: 75%;
    height: 50px;
    display: block;
    margin: 0 auto 15px;
    padding: 0 15px;
    border: none;
    border-bottom: 2px solid #ebebeb;
  }
  .input:focus {
    outline: none;
    border-bottom-color: #3CC !important;
  }
  .input:hover {
    border-bottom-color: #dcdcdc;
  }