.bookspecification{
    height: auto;
    background-size: cover;
    background-repeat:no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    background-color: #f4f7f9
}

.bookspecification:before {
    content: '';
    background-image: linear-gradient(to bottom right,#002f4b,#FF0000);
    opacity: .7;
}

.list-numbered {
    list-style: none;
    margin-left: 1em;
    counter-reset: line;
}

.list-numbered > li {
    position: relative;
    margin-bottom: 1.5em;
  }

.list-numbered > li:before {
	position: absolute;
	left: -2.25em;
	display: inline-block;
    width: 20px;
	height: 20px;
	margin-right: 0.5em;
    background-color: #FF0000;
	border-radius: 50%;
	color: #fff;
	text-align:center;
    line-height: 1.25em;
	counter-increment: line;
	content: counter(line);
}

.alert{
    margin-bottom: 0px;
    border-radius: 0px;
    border:0px;
    padding: 30px
}

.alert.alert-success{
  border-color: #d7dcdd;
  background: #d7dcdd;
  color: #7b868a;
  border-radius: 5px
}
.alert.alert-info{
  border-color: #d7dcdd;
  background: #d7dcdd;
  color: #7b868a;
  border-radius: 5px
}
.alert.alert-warning{
    border-color: #d7dcdd;
    background: #d7dcdd;
    color: #7b868a;
    border-radius: 5px
}

.btn-primary:hover{
    background:#4c4c4c ;
    border: 0px;
}

hr{
    background-color: #4c4c4c;
    height: 3px;
    padding-bottom: 0px
}

.content p{
    font-weight: 300;
    font-size: 15px
}

.content ul li{
    font-weight: 300;
    font-size: 12px;
    padding: 10px
}

.content button.btn.btn-default{
    margin-top: 10px;
    border-radius: 17px;
    background: #FF0000;
    color: #fff;
    outline: none;
    border: 0px;
    font-weight: 300;
    font-size: 12px;
    	-webkit-box-shadow: 0 10px 6px -6px #FF0000;
	   -moz-box-shadow: 0 10px 6px -6px #FF0000;
	        box-shadow: 0 10px 6px -6px #FF0000;
}

.content button.btn.btn-default:active{
    border-radius: 17px;
    background: #4c4c4c;
    color: #fff;
    -webkit-box-shadow: 0 10px 6px -6px #4c4c4c;
	   -moz-box-shadow: 0 10px 6px -6px #4c4c4c;
	        box-shadow: 0 10px 6px -6px #4c4c4c;
}

.content button.btn.btn-default:hover{
    border-radius: 17px;
    background: #4c4c4c;
    color: #fff;
     -webkit-box-shadow: 0 10px 6px -6px #4c4c4c;
	   -moz-box-shadow: 0 10px 6px -6px #4c4c4c;
	        box-shadow: 0 10px 6px -6px #4c4c4c;
}

/* order book style */

.booksOrder{
    padding-top: 30px;
    padding-left: 60px;
    padding-bottom: 30px;
    height: 350px;
    background-color: #FFF;
    -webkit-box-shadow: 0 10px 6px -6px #eee;
	   -moz-box-shadow: 0 10px 6px -6px #eee;
            box-shadow: 0 10px 6px -6px #eee;
}

.availability{
    background: #4c4c4c;
}
