div.panafrica{
    height: auto;
    background-color: #ffffff;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-right: 30px;
}
.panel{
    background-color: #fff;
    border-radius: 0px;
    margin-bottom: 0px;
}

.panel1{
    background: #FF4143;
    height: 200px;
    text-align: center;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center
}

.panel2{
    text-align: center;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
}

.pane2 div{
    display: table-cell;
    vertical-align: middle;
}

.text{
    height: 100%;
    color: #fff;
    font-family: 'Shrikhand', cursive;
    display: table-cell;
    vertical-align: middle;
}

.subscribebox div.panel-default{
    text-align: center;
}

.subscribebox div.panel-heading{
    background: #ffffff;
    border-bottom:0px;
    padding: 10px
}
.subscribebox div.panel-heading h1{
    font-size: 175%;
    font-weight: 300px;
}

.subscribebox div.panel-body form div input{
    width: 75%;
    height: 50px;
    display: block;
    margin: 0 auto 15px;
    padding: 0 15px;
    border: none;
    border-bottom: 2px solid #ebebeb;
    outline: none;
}


.subscribebox div.panel-body form div input:focus{
    outline: none;
    border-bottom-color: #3CC !important;
}

.subscribebox div.panel-body form div input:hover{
    border-bottom-color: #dcdcdc;
}
